*{
    margin: 0;
    padding: 0;
    background-color: white;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    background-color: #408bec;
    padding: 0px 12px;
    /*margin-bottom: 4px;*/
}
.header img{
    width: 40px;
    height: 40px;
    background-color: #408bec;
    margin: 0px 10px 0px 0px;
    padding: 5px 0;
}
.header h1{
    color: white;
    font: 28px "markazi text", serif;
    background-color: #408bec;
    font-weight: bold;
    margin: 3px 16px 0px 0px;
    padding: 5px 0;
}
.container{
    width: 100%;
}
.green-box{
    background-color: #1EB100;
    padding: 5px;
    
}
.green-box h2{
    background-color:  #1EB100;
    color: white;
    text-align: center;
    font: 18px 'roboto', sans-serif;
    font-weight: 500;
    margin: 5px 0px 0px;
    padding: 0px 0px 5px;
    word-spacing: 7px;
    letter-spacing: 0.5px;
}
.green-box h1{
    margin: 0;
    font: 30px 'roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    background-color:  #1EB100;
    color: white;
    text-align: center;
    padding: auto;
    padding-bottom: 6px;
}
.profile-img{
    width: 100%;
    height: 288px;
}
.qrcode{
    display: block;
    position: relative;
    width: 106.8px;
    height: 106.8px;
    top: -60px;
    left: 35%;
}
.container h3{
    position: relative;
    font: 23px "Roboto", sans-serif;
    margin: 0 0 8px;
    font-weight: bold;
    top: -55px;
    text-align: center;
}
.container h4{
    position: relative;
    font: 21px "Roboto", sans-serif;
    margin: 0 0 8px;
    font-weight: bold;
    top: -55px;
    text-align: center;
    letter-spacing: 0.5px;
}
.second-green-box{
    position: relative;
    padding: 6px;
    background-color: #1EB100;
    top: -55px;
}
.second-green-box h1{
    background-color: #1EB100;
    color: white;
    font: 21px "Roboto", sans-serif;
    margin: 0px 4.2px;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;

}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    padding: 0px 12px;
    background-color: #408bec;
}
ul{
    list-style: none;
    display: flex;
    background-color: #408bec;
    padding: 10px;
    justify-content: space-around;
}
li,li a{
    background-color: #408bec;
    
}
li img{
    height: 30px;
    width: 30px;
    background-color: #408bec;
}
.home-logo{
    position: relative;
    top: -25px;
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 50%;
    padding: 15px 10px;
    background: linear-gradient(136.42deg, rgb(38, 203, 255) 4.8%, rgb(105, 128, 253) 99.39%);
    border: 5px solid white;
    border-image: inherit;
}
.home-logo img{
    background-color:inherit;
    position: relative;
    top: +10px;
}
.openbtn {
        font-size: 22px;
        cursor: pointer;
        background: none;
        color: white;
        border: none;
        outline: none;
}

